@import 'globals';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body {
    font-family:'Source Sans Pro';
    font-weight:400;
    i {

    }
}

.eyebrow {
    font-family:'Source Sans Pro';
    text-transform:uppercase;
    font-weight:600;
}

.title-1 {
    font-family:'Source Sans Pro';
    font-weight:700;
}

.cta-link {
    font-family:'Source Sans Pro';
}